
.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}
h1{
  font-size: 75px;
  font-weight: 400;
  font-family: Jost;
  color: goldenrod;
  text-align: center;
}
h3{
  font-size:30px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:goldenrod;
  text-align: center;
}
a{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25;
  text-decoration: none;
  color: goldenrod;
}
header{
  padding-bottom: 0;
  margin-bottom: 0;
}